/*
 * Centralized color and font variables.
 * This makes it easy to change the theme of the entire application.
 */
:root {
    --color-primary: #528BFF;       /* Example primary color */
    --color-secondary: #FFD700;     /* Example accent color */
    --color-background: #4f4a4a;    /* Light gray background */
    --color-background-light: #f7f7f9; /* Lighter background for elements */
    --color-background-hover: #ae9d99; /* Hover state for elements */
    --color-white: #8b6e63;

    --color-border: #ad9c98;

    --color-text-dark: #ffffff;     /* Dark text for headings */
    --color-text-regular: #ffffff;  /* Regular text */
    --color-text-light: #525252;    /* Light text for labels, etc. */
}
*{  /*reset css*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}